@model List<AllPurchaseForSuperUserViewModel>
@{
	int count = 0;
}
<link rel="stylesheet" type="text/css" href="~/css/SuperUser/Orders.css">

<main class="table" id="customers_table">
	<section class="table__header">
		<h1>Създаване на готвач</h1>
		<div class="input-group">
			<input type="Потърси" placeholder="Потърси информация...">

		</div>

	</section>
	<section class="table__body">
		<table>
			<thead>
			<tr>
				<th> Снимка </th>
				<th> Име на храната <span class="icon-arrow">&UpArrow;</span></th>
				<th> Категория <span class="icon-arrow">&UpArrow;</span></th>
				<th> Грамаж <span class="icon-arrow">&UpArrow;</span></th>
				<th> Брой <span class="icon-arrow">&UpArrow;</span></th>
				<th> Цена <span class="icon-arrow">&UpArrow;</span></th>
				<th> Име на купувача </th>
				<th> Имейл </th>
				<th> Статус <span class="icon-arrow">&UpArrow;</span></th>
				<th> Код </th>
				<th> Час на поръчване <span class="icon-arrow">&UpArrow;</span></th>
				<th> Завърши поръчка </th>
			</tr>
			</thead>
			<tbody>
				@foreach (var purchase in Model)
				{
					string name = purchase.BuyerName;
					string splittedName = string.Empty;
					if (name != null)
					{
						bool isReady = false;
						splittedName += name[0];
						foreach (var character in name.Skip(1))
						{
							if (character.ToString() == character.ToString().ToUpper() && !isReady)
							{
								splittedName += " ";
								isReady = true;
							}
							splittedName += character;
						}
					}
					string background = purchase.Code == "с карта" ? "delivered" : "pending";
					string status = purchase.Code == "с карта" ? "Платено" : "Не платено";
					<tr>
						<td><img src="@purchase.DishImageUrl" class="img-fluid" style="width: 100px; height: 100px;"/></td>
						<td>@purchase.DishName</td>
						<td>@purchase.DishCategory</td>
						<td>@purchase.DishGrams</td>
						<td>@purchase.PurchasedQuantity</td>
						<td>@purchase.DishPrice</td>
						<td>@splittedName</td>
						<td>@purchase.BuyerEmail</td>
						<td>
							<p class="status @background">@status</p>
						</td>
						<td>@purchase.Code</td>
						<td>@purchase.PurchasedOn</td>
						<td><a class="btn btn-success" data-bs-toggle="modal" data-bs-target="@($"#staticBackdrop{count}")" type="button">Завърши поръчка</a></td>
					</tr>
					@* Delete Purchase POP UP POP UP *@
					<div class="modal fade" id="@($"staticBackdrop{count}")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="staticBackdropLabel">Добави към готвачи</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-center d-flex justify-content-center align-items-center">
									<p class="m-0 text-danger fs-5">Сигурни ли сте че искате да завършите поръчката на този клиент? Това ще изтрие всички продукти от поръчката!</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<form asp-action="CompleteOrder" asp-controller="Purchase" asp-route-purchaseId="@purchase.PurchaseId" method="post">
										<button class="btn btn-danger">Завърши</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					@* Delete Purchase POP UP END*@
					count++;
				}
			</tbody>
		</table>
	</section>
</main>
<script src="~/js/SuperUser/Orders.js"></script>