@model List<AllPendingUsersViewModel>
@{
	int count = 0;
}
<link rel="stylesheet" type="text/css" href="~/css/SuperUser/Orders.css">
<table class="table">
	<thead>
		<tr>
			<th scope="col">Име и фамилия</th>
			<th scope="col">Премахни</th>
			<th scope="col">Приеми</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var user in Model)
	{
		string name = user.Username;
		string splittedName = string.Empty;
		if (name != null)
		{
			bool isReady = false;
			splittedName += name[0];
			foreach (var character in name.Skip(1))
			{
				if (character.ToString() == character.ToString().ToUpper() && !isReady)
				{
					splittedName += " ";
					isReady = true;
				}
				splittedName += character;
			}
		}
		<tr>
			<td>@splittedName</td>
			<td><a type="button" data-bs-toggle="modal" data-bs-target="@($"#backdrop{count}")" type="button" class="btn btn-primary">Премахни потребител</a></td>
			<td><a type="button" data-bs-toggle="modal" data-bs-target="@($"#staticBackdrop{count}")" type="button" class="btn btn-primary">Приеми потребител</a></td>
		</tr>

		@* Approve POP UP *@
		<div class="modal fade" id="@($"staticBackdrop{count}")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Удобри</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center d-flex justify-content-center align-items-center">
						<p class="m-0 text-danger fs-5">Сигурни ли сте че искате да удобрите този потребител?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<form asp-action="ApproveUser" asp-controller="User" asp-route-userId="@user.Id" method="post">
							<button class="btn btn-danger">Удобри</button>
						</form>
					</div>
				</div>
			</div>
		</div>
			@* Approve POP UP END*@

			@* Remove POP UP *@
			<div class="modal fade" id="@($"backdrop{count}")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="staticBackdropLabel">Удобри</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body text-center d-flex justify-content-center align-items-center">
							<p class="m-0 text-danger fs-5">Сигурни ли сте че искате да премахнете този потребител?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<form asp-action="RemoveUser" asp-controller="User" asp-route-userId="@user.Id" method="post">
								<button class="btn btn-danger">Премахни</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			@* Remove POP UP END*@
		count++;
	}
</tbody>
</table>