@model ShoppingCartViewModel
@{
	int count = 0;
}
<link rel="stylesheet" href="~/css/Products.css">
@if (Model.Dishes.Any())
{
	@foreach (var product in Model.Dishes)
	{
		<div class="container">
			<a class="product-container">
				<div class="products-container">

					<div class="product" data-name="p-1">
						<div class="text-end">
							<a data-bs-toggle="modal" data-bs-target="@($"#backdropDelete{count}")" type="button" class="btn-close fs-4"></a>@* //here *@
						</div>
						<img class="img-fluid" src="@product.ImageUrl" alt="" width="">
						<h3>@product.Name</h3>
						<div>
							<a asp-action="IncreaseCount" asp-controller="ShoppingCart" asp-route-dishId="@product.Id" class="btn btn-secondary">+</a>
							<a asp-action="DecreaseCount" asp-controller="ShoppingCart" asp-route-dishId="@product.Id" class="btn btn-primary">-</a>
						</div>
						<div class="fs-3 ms-3 mb-3 text-start">Quantity @product.Quantity</div>
						<div class="fs-2 text-start ms-3 text-danger fw-bold">@product.Price</div>
					</div>
				</div>
			</a>
		</div>
		@* Delete dish POP UP *@
		<div class="modal fade" id="@($"backdropDelete{count}")" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-2" id="staticBackdropLabel">Премахни от количка</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center d-flex justify-content-center align-items-center">
						<p class="m-0 text-danger fs-2">Сигурни ли сте че искате да премахнете това ястие от количката си?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
						<form asp-action="Remove" asp-controller="ShoppingCart" asp-route-dishId="@product.Id" method="post">
							<button class="btn btn-danger">Премахни</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		@* Delete dish POP UP END*@
		count++;
	}
	<div class="d-flex justify-content-center">
		<form asp-action="PurchaseWithCode" asp-controller="Purchase" method="post">
			<button class="btn btn-primary fs-1">Поръчай с код</button>
		</form>
		<form class="ms-3" asp-action="Purchase" asp-controller="Purchase" method="post">
			<button class="btn btn-primary fs-1">Плати с карта</button>
		</form>
	</div>
}
else
{
	<h1>Нямате добавени продукти в количката!</h1>
	<a asp-action="All" asp-controller="Dish" class="btn btn-secondary">Към всички ястия!</a>
}