@model List<AllDishesViewModel>

@{
    int count = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Products.css">
    <link rel="stylesheet" href="~/css/HomePage/HomePage.css">
    <link rel="stylesheet" href="~/css/Filter.css">
    <title>Document</title>
</head>
<body>
   
    <div class="menu-tab-wp">
        <div class="row">
            <div class="wrapper">

                <div id="buttons">
                    <button class="button-value" onclick="filterProduct('all')">All</button>
                    <button class="button-value" onclick="filterProduct('Ястия')">
                        Ястия
                    </button>
                    <button class="button-value" onclick="filterProduct('Фаст фоод')">
                        Фаст фоод
                    </button>
                    <button class="button-value" onclick="filterProduct('Hапитки')">
                        Напитки
                    </button>
                    <button class="button-value" onclick="filterProduct('Снаксове">
                        Снаксове
                    </button>
                    <button class="button-value" onclick="filterProduct('Десерти')">
                        Десерти
                    </button>
                    <button class="button-value" onclick="filterProduct('Плодове и зеленчуци')">
                        Плодове и зеленчуци
                    </button>
                </div>
             
            </div>
 @foreach (var product in Model)
    {

        <div class="container" onclick="clicking(@count)">
            <a class="product-container" data-bs-toggle="modal" data-bs-target="@($"#products-preview{count}")">


            <div class="products-container">

                <div class="product" data-name="p-1">
                    <img src="@product.ImageUrl" alt="">
                    <h3>@product.Name</h3>
                    <div class="price">@product.Price</div>
                </div>
            </div>
            </a>
        </div>
     
       

        @*<div class="modal products-preview" id="@($"products-preview{count}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="preview" data-target="p-1">
    <i class="fas fa-times"></i>
    <img src="@product.ImageUrl" alt="">
    <h3>@product.Name</h3>
    <p>@product.Description</p>
    <div class="price">@product.Price лв</div>
    <div class="buttons">
    <a href="#" class="buy">buy now</a>
    <a href="#" class="cart">add to cart</a>
    </div>
    </div>
    </div> *@

        <div class="modal fade" id="@($"products-preview{count}")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">@product.Category</h1>@* тука е категория *@
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="preview" data-target="p-1">
                            <i class="fas fa-times"></i>
                            <img src="@product.ImageUrl" alt="" class="w-100" style="height:325px;"/>
                            <h3>@product.Name</h3>
                            <p>@product.Description</p>
                            <div class="price">@product.Price лв</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                        @if (@product.Owner == User.Identity.Name)
                        {
                            
                                <a asp-action="Edit" asp-controller="Dish" asp-route-dishId="@product.Id" class="btn btn-success" >Edit</a>
                              @*   <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger" style="width: 22%">Delete</a> *@
                          
                        }
                        else
                        {
                            
                                @* <a asp-action="Add" asp-controller="ShoppingCart" asp-route-id="@Model.Id" class="btn btn-warning" style="width: 22%">Add to Cart</a> *@
                                <button type="button" class="btn btn-primary">Добави в количка</button>
                           
                        }
                        
                    </div>
                </div>
            </div>
        </div>

        count++;

    }

       </div>
    </div>
    <div class="contact">

        <div class="c_image">

            <img src="~/images/subscribe.jpg">

        </div>

        <div class="subscribe">

            <h1>За нас</h1>
            <p class="title">Разлегедайте нашите социални мрежи</p>


            <div class="address">

                <div class="place">

                    <h3>Локация</h3>
                    <p> Радичевец, ул. „Елин Пелин“ 2, 5300 Габрово</p>
                    <p>България</p>

                </div>

                <div class="follow">

                    <h3>Последвай ни</h3>
                    <div class="icon">

                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-google-plus-g"></i>

                    </div>

                </div>

            </div>

        </div>

    </div>

   <script src="~/js/Products/Products.js"></script>
    <script src="~/js/Filter.js"></script>
</body>
</html>